@import "../../index.scss";

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    .nav-links{
        display: flex;
        align-items: center;
        .logo{
            height: 100%;
        }
        ul{
            display: flex;
            li{
                text-decoration: none;
                list-style: none;
                padding: 0 30px;
                display: flex;
                align-items: center;
                color: $clr-g;
                img{
                    margin-left: 4px;
                }
                &:hover{
                    color: $clr-b;
                    cursor: pointer;
                }
            }
        }
    }
    .btn-wrapper{
        .btnLogin{
            border: none;
            color: $clr-g;
            padding: $btnPadding;
            background: none;
            font-size: 16px;
            &:hover{
                color: $clr-b;
                cursor: pointer;
            }
        }
        .btnRegister{
            background: none;
            border: 2px solid $clr-g;
            padding: $btnPadding;
            color: $clr-g;
            border-radius: $btnRadius;
            margin-left: 2em;
            font-size: 16px;
            &:hover{
                color: $clr-b;
                cursor: pointer;
                border: 2px solid $clr-b;
            }
        }
    }
}