@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@1,700&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  letter-spacing: 1px;
}

$clr-w: hsl(0, 0%, 98%);
$clr-g: hsl(0, 0%, 41%);
$clr-b: hsl(0, 0%, 8%);

$fnt-weight-500: 500;
$fnt-weight-700: 700;

$btnPadding: 10px;
$btnRadius: 10px;

