@import "../../../index.scss";

.cont{
    background: $clr-w;
    position: absolute;
    left: 6em;
    top: 4em;
    border-radius: $btnRadius; 
    box-shadow: 0px 0px 50px -20px $clr-g;
    ul{
        margin: -2px 0;
        padding: 12px;
        li{
            font-size: 15px;
            list-style: none;
            color: $clr-g;
            margin: 10px 0;
            img{
                margin-right: 8px;
            }
        }
    }
}